<div class="todo-wrapper">
  <div class="container">
    <h2>Ideas</h2>
    <div
      cdkDropList
      #ideasList="cdkDropList"
      [cdkDropListData]="ideas"
      [cdkDropListConnectedTo]="[researchList, todoList, doneList]"
      [id]="'ideasList'"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="container-box" *ngFor="let task of ideas " cdkDrag>
        <ng-container *ngIf="!isEditing(task.id)">
          <p>{{task.content}}</p>
        </ng-container>
        <ng-container *ngIf="isEditing(task.id)">
          <input matInput  placeholder="Editar tarea..." class="input-edit" [(ngModel)]="task.content">
        </ng-container>

        <div class="actions-buttons-task">
          <button mat-mini-fab color="basic" (click)="editTask(task.id)" *ngIf="!isEditing(task.id)"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="basic" *ngIf="isEditing(task.id)" (click)="saveTask(task)"><mat-icon>save</mat-icon></button>
          <button mat-mini-fab color="basic" *ngIf="!isEditing(task.id)"><mat-icon>delete</mat-icon></button>
          <button mat-mini-fab color="basic" *ngIf="isEditing(task.id)" (click)="cancelEdit()"><mat-icon>cancel</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="container-actions">
      <button mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>

  </div>

  <div class="container">
    <h2>Research</h2>
    <div
      cdkDropList
      #researchList="cdkDropList"
      [cdkDropListData]="research"
      [cdkDropListConnectedTo]="[ideasList,todoList,doneList]"
      [id]="'researchList'"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="container-box" *ngFor="let task of research "  cdkDrag>
        <p>{{task.content}}</p>
        <div class="actions-buttons-task">
          <button mat-mini-fab color="basic"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="basic"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="container-actions">
      <button mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div class="container">
    <h2>To Do</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[ideasList,researchList,doneList]"
      [id]="'todoList'"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="container-box" *ngFor="let task of todo "  cdkDrag>
        <p>{{task.content}}</p>
        <div class="actions-buttons-task">
          <button mat-mini-fab color="basic"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="basic"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="container-actions">
      <button mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[ideasList,todoList,researchList]"
      [id]="'doneList'"
      class="drop-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="container-box" *ngFor="let task of done "  cdkDrag>
        <p>{{task.content}}</p>
        <div class="actions-buttons-task">
          <button mat-mini-fab color="basic"><mat-icon>edit</mat-icon></button>
          <button mat-mini-fab color="basic"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
    <div class="container-actions">
      <button mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>
  </div>

</div>
